@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Montserrat:ital,wght@0,500;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 70%;
    margin: 0 auto;
}
/* -------- main css -------  */
nav{
    margin-top: 2rem;
    font-size: 36px;
}
.form-container{
    margin-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.left-container, .right-container{
    width: 100%;
}
/* ----- left container ----  */
.left-container{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.left-container h2{
    font-size: 18px;
}
.field-box{
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
.field-box h3{
    font-size: 13px;
    font-weight: 600;
    font-family: 'Montserrat',sans-serif;
}
.input-box{
    width: 100%;
    height: 56px;
    border: 1px solid grey;
    border-radius: 12px;
    padding: .5rem .5rem;
    display: flex;
    gap: .6rem;
    cursor: pointer;
}
.input-box i{
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: rgb(94, 94, 94); */
}
.input-box input{
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
}
.mt3{
    margin-top: 3rem;
}
.field-box-flex{
    display: flex;
    gap: 1.2rem;
}
.check-text{
    margin-top: .8rem;
    height: 1rem;
    align-items: center;
    display: flex;
    gap: .5rem;
}
.check-text input{
    width: 25px;
    height: 25px;
}
.button-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: .6rem;
}
.btn{
   width: 150px;
   height: 54px;
   border-radius: 12px;
   background: #f2994a;
   border: none;
   color: white;
   font-size: 16px;
   transition: .5s all;
}
.btn:hover{
    background: transparent;
    border: 1px solid #f2994a;
    color: #f2994a;
}
/* ------ right box ----- */
.right-container .box{
    width: 350px;
    height: 500px;
    background: rgb(242,242,242);
    float: right;
    border-radius: 12px;
    padding: 1.2rem 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.2rem;

}
.box .img-details{
    width: 100%;
    height: 135px;
    display: flex;
    align-items: center;
    gap: .8rem;
}
.img-details img{
    height: 85%;
    border-radius: 12px;
}
.img-details .details{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.details h5{
    font-size: 14px;
    color: #f2994a;
}
.pirce{
    display: flex;
    gap: .8rem;
}
.range{
    width: 80%;
    height: 45px;
    border: 1px solid black;
    border-radius:12px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
.w{
    width: 130%;
}
.m2{
    margin-top: -80px;
}
.range p{
    font-size: 1.3rem;
    background: #c4c4c4;
    width: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    border-radius: 5px;
}
.total-box{
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.ship-box{
    width: 100%;
    height: 100%;
    border-top: 1px solid black;
}
.amount-box{
    width: 100%;
    height: 100%;
    border-top: 1px solid black;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex p{
    font-weight: 700;
}
footer{
    width: 100%;
    height: 2rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer h4{
    font-size: 16px;
    color: #bdbdbd;
}
footer a{
    color: black;
    text-decoration: none;
}
@media screen and (max-width:750px) {
    .container{
        width: 95%;
    }
    .form-container{
        display: flex;
        flex-direction: column-reverse;
    }
    .right-container .box{
        width: 100%;
    }
    .left-container{
        margin-top: 3rem;
    }
}
/* ------- complete ------  */